<mat-card class="example-card">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Options meaning</mat-card-title>
        <mat-card-subtitle>Tip</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../../../../assets/images/settings.jpg">
    <mat-card-content>
        <p>D - размер треугольника для 3d отображения (1,2,3,4,5)</p>
        <p>N - сторона квадрата модели (должна быть кратна D)</p>
        <p>W - коэффициент поглощения среды (0.0 < W <=1.0)</p> <p>R - =1 отражение от границ, =0 - поглощение границами
        </p>
        <p>OMEGA - частота нового осциллятора (от 0.001 до 0.1)</p>
    </mat-card-content>
</mat-card>