.mat-dialog-container {
    padding: 0 !important;
    border-radius: 0 !important;
}

.cdk-overlay-pane {
    max-width: 100vw !important;
    width: auto !important;
}

.menu-item-folder-popup {
    .confirm-actions-footer {
        button {
            width: 220px;
        }
    }
}

.popup {
    &.popup-600 {
        width: 600px;
    }
    &.popup-920 {
        width: 920px;
    }
    &.popup-840 {
        width: 840px;
        @media (max-width: 800px){
            width: 770px;
        }
    }
    &.popup-800 {
        width: 800px;
    }
    &.popup-728 {
        width: 728px;
    }
    &.popup-791 {
        width: 791px;
    }
    &.popup-542 {
        width: 542px;
    }
    &.popup-424 {
        width: 424px;
    }
    &.popup-290{
        width: 290px;
    }
    &.popup-240{
        width: 240px;
    }
    &.popup-352{
        width: 352px;
    }
    &.popup-853{
        width: 853px;
        @media (max-width: 800px){
            width: 770px;
        }
    }
    &.popup-648{
        width: 648px;
    }
    &.popup-574{
        width: 574px;
    }
    &.popup-546{
        width: 546px;
    }
    &.popup-345{
        width: 345px;
    }
    &.popup-435{
        width: 435px;
    }
    &.popup-615{
        width: 615px;
    }
    &.popup-full-width{
        width: 100vw;
        height: 100vh;
    }
    &.popup-with-footer{
        .popup-header{
            padding: 6px 10px 5px;
        }
        .popup-content{
            height: calc(100% - 82px);
            border-bottom: 0;
            &.without-padding{
                padding: 0;
            }
            &.without-top-line{
                height: calc(100% - 54px);
            }
        }
    }
    &.with-header-footer{
        width: 100vw;
        height: 100%;
        .popup-header{
            padding: 6px 10px 5px;
        }
    }
    &.popup-362{
        width: 362px;
    }
    .popup-header {
        background-color: #757575;
        color: $white;
        padding: 9px 6px 9px 10px;
        h2 {
            margin: 0;
            font-size: 0.8125em;
            font-weight: normal;
        }
    }
    .popup-content {
        background-color: #f7f7f7;
        border: solid 2px #c1c1c2;
        border-top-width: 0;
        padding: 10px;
    }
    .main-actions-group {
        .btn {
            min-width: 100px;
        }
    }
}

.popup--select {
    border-radius: 4px;
    background-color: #ffffff;
    border: solid 2px #757575;
    height: 350px;
    padding: 12px 5px 12px 7px;
}
.select-item
.select-popup {
    .popup--select{
        overflow-y: auto;
    }
    .actions-footer {
        .btn {
            width: 100px;
            margin: 0;
        }
    }
}

input.mat-input-element,
textarea.mat-input-element {
    border-radius: 4px;
    background-color: #ffffff;
    border: solid 2px #757575;
    display: inline-block;
    color: #565656;
    font-family: "Open Sans", sans-serif;
    @media (max-width: 800px){
        font-size: 14px;
    }
}

input.mat-input-element {
    margin-top: -0.0625em;
}

.mat-input-element {
    font: inherit;
    background: 0 0;
    color: currentColor;
    border: none;
    outline: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    max-width: 100%;
    vertical-align: bottom;
    text-align: inherit;
}

.white-disabled-backdrop{
    background: rgba(255, 255, 255, 0.5);
    z-index: 998;
    + .cdk-global-overlay-wrapper{
        justify-content: stretch !important;
        align-items: stretch !important;
    }
    +.cdk-overlay-connected-position-bounding-box {
        z-index: 1000;
    }
}
.white-backdrop {
    background: rgba(255, 255, 255, 0.5);
}
.cdk-overlay-container {
    &.disabled-container {
        position: static;
        z-index: auto;
    }
}
.over-disabled-backdrop {
    position: relative;
    z-index: 999;
}
.cdk-overlay-pane{
    &.left-position{
        margin: 34px 0 25px 5px;
        .mat-dialog-container{
            box-shadow: none;
        }
        app-menu-item-folder-dialog{
            display: block;
            height: 100%;
        }
    }
}
.cdk-overlay-backdrop{
    &.popup-header-footer{
        + .cdk-global-overlay-wrapper{
            top: 30px;
            bottom: 22px;
            height: auto;
            .mat-dialog-container{
                box-shadow: none;
            }
            .cdk-overlay-pane{
                height: 100%;
            }
            .popup-content{
                height: calc(100% - 28px);
            }
        }
    }
}