<div class="container">
    <button class="action-btn" mat-raised-button color="warn" title="Clear" (click)="clear()">C</button>
    <button class="action-btn" mat-raised-button color="accent" title="Play/Pause" (click)="play()">
        <mat-icon>{{playPauseIcon}}</mat-icon>
    </button>
    <div class="col">
        <label>Kvis</label>
        <mat-slider [(ngModel)]="options.kvisRange" step="1" min="1" max="30"></mat-slider>
        <div class="sea">
            <canvas #canvas2d id="canvas2d" width="{{options.n}}" height="{{options.n}}"
                (mousedown)="onMouseDown($event)" (mouseup)="onMouseUp($event)"
                (mousemove)="onMouseMove($event)"></canvas>
            <canvas #canvas1d id="canvas1d" width="{{options.n}}" height="{{options.n}}"
                (mousedown)="onMouseDown($event)" (mouseup)="onMouseUp($event)"
                (mousemove)="onMouseMove($event)"></canvas>
        </div>
    </div>
    <div class="col">
        <app-sea3d-options (valueChanges)="handleSettings3DChanges($event)"></app-sea3d-options>
        <div class="sea">
            <canvas #canvas3d id="canvas3d" width="{{options.n}}" height="{{options.n}}"></canvas>
        </div>
    </div>
</div>
<div class="container">
    <div *ngIf="energy">
        <h2>Energy:</h2> {{energy}}
    </div>
</div>