<div class="container">
    <button class="action-btn" mat-raised-button color="warn" title="Clear" (click)="clear()">C</button>
    <button class="action-btn" mat-raised-button color="accent" title="Play/Pause" (click)="play()">
        <mat-icon>{{playPauseIcon}}</mat-icon>
    </button>
    <div class="sea">
        <canvas #canvas2d id="canvas2d" width="{{options.N}}" height="{{options.N}}" (mousedown)="onMouseDown($event)"
            (mouseup)="onMouseUp($event)" (mousemove)="onMouseMove($event)"></canvas>
        <canvas #canvas1d id="canvas1d" width="{{options.N}}" height="{{options.N}}" (mousedown)="onMouseDown($event)"
            (mouseup)="onMouseUp($event)" (mousemove)="onMouseMove($event)"></canvas>
    </div>
</div>