<div class="container">
    <button class="action-btn" mat-raised-button color="warn" title="Clear" (click)="clear()">C</button>
    <button class="action-btn" mat-raised-button color="accent" title="Play/Pause">
        <mat-icon>{{playPauseIcon}}</mat-icon>
    </button>

    <div>
        <label>&nbsp;Cam
            <input id="cameraRange" [(ngModel)]="cameraRange" type="range" step="0.01" min="-1.57" max="0" value="0" /></label>
        <label>&nbsp;Light
            <input id="lightRange" [(ngModel)]="lightRange" type="range" step="0.1" min="-5" max="5" value="-2" /></label>
        <span id="info" style="margin-left: 20px"></span>
    </div>

    <div class="sea">
        <canvas #canvas3d id="canvas3d" width="{{options.N}}" height="{{options.N}}"></canvas>
    </div>
</div>