<form [formGroup]="form">
    <mat-radio-group formControlName="handler">
        <mat-radio-button [value]="handlerEnum.Oscil">{{'handler.oscil' | translate}}</mat-radio-button>
        <mat-radio-button [value]="handlerEnum.Rect">{{'handler.rect' | translate}}</mat-radio-button>
        <mat-radio-button [value]="handlerEnum.Line">{{'handler.line' | translate}}</mat-radio-button>
        <mat-radio-button [value]="handlerEnum.Meter">{{'handler.meter' | translate}}</mat-radio-button>
    </mat-radio-group>
</form>