<div class="container col-1">
    <app-sea-options [options]="options" (valueChanges)="handleOptionsChanges($event)"></app-sea-options>
    <app-sea-handler [handler]="handler" (valueChanges)="handleHandlerChanges($event)"></app-sea-handler>
    <app-sea-2d (seaChanges)="handleSeaChanges($event)" [options]="options" [handler]="handler"></app-sea-2d>
    <br />
    <button mat-raised-button color="accent" (click)="openSavePopup()">Save to my projects</button>
</div>
<div class="container col-2">
    <app-options-tip></app-options-tip>
</div>