<mat-card class="example-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{'options_tip_1d.meaning' | translate}}</mat-card-title>
            <mat-card-subtitle>{{'options_tip_1d.tip' | translate}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../../../../../assets/images/settings.jpg">
        <mat-card-content>
            <p>{{'options_tip_1d.N' | translate}}</p>
            <p>{{'options_tip_1d.Km' | translate}}</p>
            <p>{{'options_tip_1d.Merge' | translate}}</p>
            <p>{{'options_tip_1d.W' | translate}}</p>
            <p>{{'options_tip_1d.OMEGA' | translate}}</p>
        </mat-card-content>
    </mat-card>