.ruler, .ruler li {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
}
/* IE6-7 Fix */
.ruler, .ruler li {
    *display: inline;
}
.ruler {
    background: lightYellow;
    box-shadow: 0 -1px 1em hsl(24, 76%, 65%) inset;
    border-radius: 2px;
    border: 1px solid #ccc;
    color: #111;
    margin: 0;
    height: 2em;
    padding-right: 1cm;
    white-space: nowrap;
}
.ruler li {
    width: 20px;
    text-align: center;
    position: relative;
    text-shadow: 1px 1px hsl(236, 59%, 84%);
}
.ruler li:before {
    content: '';
    position: absolute;
    border-left: 1px solid #ccc;
    height: .64em;
    top: -.64em;
    right: 1em;
}

.ruler-box {
    font: 12px Ubuntu, Arial, sans-serif;
    margin: 20px;
}