<button class="action-btn btn" mat-flat-button color="primary" (click)="navigateToProjectsCreation()">
    {{ 'actions.create' | translate }}
</button>
<button class="action-btn btn" mat-flat-button [matMenuTriggerFor]="menu">{{ 'actions.actions' | translate }}</button>
<mat-menu #menu="matMenu" [overlapTrigger]="false">
    <div matTooltip="{{'tooltips.edit_project_tooltip' | translate}}" [matTooltipPosition]="'right'">
        <button class="menu-action tooltip" mat-menu-item [disabled]="isEditDisabled()" (click)="editProject()">
            {{ 'actions.edit' | translate }}
        </button>
    </div>
    <hr />
    <div matTooltip="{{'tooltips.share_project_tooltip' | translate}}" [matTooltipPosition]="'right'">
        <button class="menu-action tooltip" mat-menu-item [disabled]="isShareDisabled()" (click)="shareProject(true)">
            {{ 'actions.share' | translate }}
        </button>
    </div>
    <div matTooltip="{{'tooltips.unshare_project_tooltip' | translate}}" [matTooltipPosition]="'right'">
        <button class="menu-action tooltip" mat-menu-item [disabled]="isUnshareDisabled()" (click)="shareProject(false)">
            {{ 'actions.unshare' | translate }}
        </button>
    </div>
    <hr />
    <div matTooltip="{{'tooltips.activate_project_tooltip' | translate}}" [matTooltipPosition]="'right'">
        <button class="menu-action" mat-menu-item [disabled]="isActivateDisabled()" (click)="activate()">
            {{ 'actions.activate' | translate }}
        </button>
    </div>
    <div matTooltip="{{'tooltips.deactivate_project_tooltip' | translate}}" [matTooltipPosition]="'right'">
        <button class="menu-action" mat-menu-item [disabled]="isDeactivateDisabled()" (click)="deactivate()">
            {{ 'actions.deactivate' | translate }}
        </button>
    </div>
</mat-menu>