<mat-toolbar color="primary" class="fixed-header" id="wave">
    <mat-toolbar-row>
        <button type="button" class="burger-btn" [class.active]="drawer.opened" (click)="drawer.toggle()">
            <span></span>
        </button>
        <div class="logo">
            <img src="../../../../../assets/images/wave.png" width="35" height="35" alt="Waves">
            Waves
        </div>
        <button mat-stroked-button type="button" (click)="logout()">Logout</button>
    </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container class="dashboard-view" [hasBackdrop]="false">
    <mat-sidenav #drawer [mode]="mobileQuery.matches ? 'push' : 'side'" class="dashboard-sidebar">
        <app-expansion-menu title="Sea" [opened]="router.isActive('/dashboard/sea')">
            <div class="app-expansion-menu-item" app-expansion-menu-item>
                <button class="menu-btn" routerLink="/dashboard/sea/1d" queryParamsHandling="merge"
                    [appLinkActive]="['mat-raised-button']">
                    1D
                </button>
            </div>
            <div class="app-expansion-menu-item" app-expansion-menu-item>
                <button class="menu-btn" routerLink="/dashboard/sea/2d" queryParamsHandling="merge"
                    [appLinkActive]="['mat-raised-button']">
                    2D
                </button>
            </div>
        </app-expansion-menu>
        <app-expansion-menu title="My projects">
        </app-expansion-menu>
    </mat-sidenav>
    <mat-sidenav-content class="dashboard-content">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>