<mat-toolbar color="primary" class="fixed-header">
    <mat-toolbar-row>
        <button type="button" class="burger-btn" [class.active]="drawer.opened" (click)="drawer.toggle()">
            <span></span>
        </button>
        <div class="logo">Waves</div>
        <button mat-stroked-button type="button" routerLink="/home">Logout</button>
    </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container class="dashboard-view" [hasBackdrop]="false">
    <mat-sidenav #drawer [mode]="mobileQuery.matches ? 'push' : 'side'" class="dashboard-sidebar">
        <app-expansion-menu title="Sea" [class.opened]="router.isActive('/dashboard/sea')">
            <div class="app-expansion-menu-item" app-expansion-menu-item>
                <button class="menu-btn" routerLink="/dashboard/sea" queryParamsHandling="merge" [appLinkActive]="['mat-raised-button']">
                    All</button>
            </div>
        </app-expansion-menu>
    </mat-sidenav>
    <mat-sidenav-content class="dashboard-content">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>