<div class="projects-container mat-elevation-z8">
    <div class="loading-indicator" *ngIf="isLoading">
        <mat-spinner mode="indeterminate"></mat-spinner>
    </div>

    <div *ngIf="!projects || !projects.length" class="empty-projects">
        <h2>
            {{'empty_projects' | translate}}
        </h2>
    </div>

    <mat-table [dataSource]="dataSource" *ngIf="projects && projects.length">
        <ng-container matColumnDef="select">
            <mat-header-cell mat-header-cell *matHeaderCellDef>
                <mat-checkbox (change)="$event ? masterToggle() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()">
                </mat-checkbox>
            </mat-header-cell>
            <mat-cell *matCellDef="let row">
                <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? toggle(row) : null"
                    [checked]="selection.isSelected(row)">
                </mat-checkbox>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="name">
            <mat-header-cell class="name-cell" *matHeaderCellDef>{{'project.name' | translate}}</mat-header-cell>
            <mat-cell class="name-cell" *matCellDef="let project">{{project.name}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="createdOn">
            <mat-header-cell *matHeaderCellDef>{{'project.creation_date' | translate}}</mat-header-cell>
            <mat-cell class="createdOn-cell" *matCellDef="let project">
                {{project.createdOn | date: 'MM/dd/yyyy hh:mm aa' | lowercase}}</mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

        <mat-row *matRowDef="let row; columns: displayedColumns" (click)="selectSingle(row)"
            [ngClass]="{highlighted: row == selectedProject || selection.isSelected(row)}"></mat-row>

    </mat-table>

</div>