
#canvas1d {
    background-color: #00000000;
}

.action-btn{
    margin-right: 5px;
    margin-bottom: 5px;
}

.sea{
    margin-top: 10px;
}

#canvas1d {
    position: absolute;
    top: 500;
    left: 500;
}