<div class="confirm-popup">
    <header class="confirm-popup-header no-title">
    </header>
    <div class="confirm-popup-content">
        <span class="confirm-popup--timer" *ngIf="false">30</span>
        <div class="confirm-popup--msg">
            <p>{{'actions.save_new' | translate}}</p>
        </div>
        <mat-form-field>
            <input matInput [(ngModel)]="name" required placeholder="{{'project.name' | translate}}">
        </mat-form-field>
        <div class="actions-footer">
            <button mat-raised-button class="save" (click)="save()">
                    {{'actions.save' | translate}}
            </button>
            <button mat-raised-button class="cancel" (click)="close()">
                    {{'actions.cancel' | translate}}
            </button>
        </div>
    </div>
</div>