<mat-card class="auth-form-card">
    <form [formGroup]="form" (submit)="onSubmit($event)">
        <mat-form-field>
            <input type="email" matInput formControlName="email" placeholder="{{'auth.email' | translate}}">
        </mat-form-field>
        <mat-form-field>
            <input type="password" matInput formControlName="password"  placeholder="{{'auth.password' | translate}}">
            <mat-error *ngIf="form.controls.password.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input type="password" matInput formControlName="confirmPassword"  placeholder="{{'auth.confirm_password' | translate}}">
            <mat-error *ngIf="form.controls.confirmPassword.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
        <button class="auth-form-card-button" type="submit" color="primary"
            mat-flat-button>{{'register' | translate}}</button>
    </form>
</mat-card>